/*************************************************************/
/*************************************************************/
.wrapper2 {
    background-image: url('../../images/19page/19-1.png');
    width: 100%;
    height: 1280px;
    top: 0px;
    position: fixed;
    cursor: pointer;
}

