/* main.css  */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*************************************************************/
/*************************************************************/
.wrapper {
    background-image: url('../../images/common/bg.png');
    width: 800px;
    height: 1280px;
    top: 0px;
    left: 0px;
    position: fixed;
}


/*************************************************************/
/*************************************************************/
.header {
    width: 800px;
    top:0px;
    left: 0px;
    height:70px;
    display: flex;
    flex-direction: row;
  }
    
  .mlogoBtn {
    margin-top: 0px;
    margin-left: 50px;
    width: 237px;
    height: 170px;
    background: transparent url('../../images/common/main_logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .mtitleBtn {
    margin-top: -100px;
    margin-left: 50px;
    width: 287px;
    height: 150px;
    background: transparent url('../../images/main_title.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    object-fit: cover;
    }
  
    
/*************************************************************/
/*************************************************************/
/* 사전접수확인 버튼 */
.sltBtn{ 
    text-align: center;
    position: relative;
    z-index: 999;
    margin-top: 70px;
    width: 800px;
    height: 309px;
    display: frex;
    flex-direction: column;
    transition: all 0.8s ease;
}

/*************************************************************/
/*************************************************************/
.receiptmenu {
    margin-top: -100px;
    margin-left: 0px;
    width: 703px;
    height: 209px;
    /* UI Properties */
    cursor: pointer;
}

.checkmanager {
    margin-top: 30px;
    margin-left: 0px;
    width: 703px;
    height: 209px;
    /* UI Properties */
    cursor: pointer;
}

.status {
    margin-top: 30px;
    margin-left: 0px;
    width: 703px;
    height: 112px;
    /* UI Properties */
    cursor: pointer;
}
