html, body {
    min-height: auto;
    width: 1280px;
    height: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: url(../images/bg.png);
    background-size: cover;
  }
  
.modal_wrap {
    display: none;
    width: 10%;
    height: 10%;
    position: absolute;
    transform: translate(-50%, 0%);
    top: 40%;
    left: 50%;

    border-radius: 15px;
    background: #eee;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    font-size: 1.2em;
    z-index: 2;
}

.modal_head {
    border-bottom: 2px solid #adadad;
    padding: 5px 10px 5px 20px;
    font-size: 40px;
}

.modal_close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.modal_close> a{
    display: block;
    width: 100%;
    height: 100%;
    /* background: url(../img/close-window.png); */
    background: url(../images/close_window.png);
    background-size: cover;
    text-indent: -9999px;
}

.modal_content {
    padding: 30px 5px 5px 5px;
    text-align: center;
    font-size: 34px;
}