html, body {
    min-height: auto;
    width: 800px;
    height: 1280px;
    background-color: #ffffff;
    margin: 0 auto;
  }
  
.header {
    width: 800px;
    top:0px;
    height:170px;
    display: flex;
    flex-direction: row;
    background: transparent url('../img/head_box.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
    
.main_logo {
    margin-top: 0px;
    margin-left: 0px;
    width: 237px;
    height: 170px;
    background: transparent url('../img/sub_logo.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.header_title {
    width: 800px;
    top:0px;
    display: flex;
    flex-direction: column;
}

.header_title_down {
    margin : 0 auto;
    margin-top:50px;
    width: 600px;
    height: 50px;
    color:#ffffff;
    font-size: 45px;
    text-align: center;
    opacity: 1;
}

.back {
    margin-top: 0px;
    margin-left:auto;
    width: 239px;
    height: 170px;
    background: transparent url('../img/btn_back.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.container {
    width: 800px;
    margin-top: 50px;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
}

.column_info {
    width: 800px;
    margin-top: 40px;
    display: flex;
    background-color: #ffffff;
    flex-direction: row;
}
.video_area {
    width: 60%;
    height: 50%;
    margin-top:50px;
    margin-left:15%;
    display: inline-block;
    line-height: 50%;
    position: relative;
    text-align: center;
}

.weight_ex01 {
    width: 80%;
    height: 30%;
    margin-top:50px;
    margin-left:10%;
    display: inline-block;
    line-height: 30%;
    position: relative;
    text-align: center;
}

.rr_label {
    width: 20%;
    height: 72px;
    display: inline-block;
    line-height: 72px;
    position: relative;
    left: 100px;
    color:#ffffff;
    background: transparent url('../img/label_box.png') 0% 0% no-repeat padding-box;
    text-align: center;
    font-size: 25px;
}
.rr_label2 {
    width: 40%;
    height: 72px;
    display: inline-block;
    line-height: 72px;
    position: relative;
    left: 100px;
    color:#ffffff;
    background: transparent url('../img/label_box.png') 0% 0% no-repeat padding-box;
    text-align: center;
    font-size: 25px;
}
.rr_input {
    width: 60%;
    height: 70px;
    display: inline-block;
    line-height: 70px;
    margin-left: 100px;
    margin-top: 0px;
    background: transparent url('../img/input_box.png') 0% 0% no-repeat padding-box;
    font-size: 34px;
    padding-left: 4px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.rr_input:focus {
    border: 3px solid;
}

.rr_input_short {
    width: 50%;
    height: 70px;
    display: inline-block;
    line-height: 70px;
    margin-left: 100px;
    margin-top: 0px;
    background: transparent url('../img/input_short_box.png') 0% 0% no-repeat padding-box;
    font-size: 34px;
    padding-left: 4px;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.rr_button {
    width:9%;
    height: 62px;
    display: inline-block;
    line-height: 62px;
    cursor: pointer;
    text-align: center;
    margin-left:8px;
    color:#FFFFFF;
    background-color:#671E18;
    border-radius: 4px;
    opacity: 1;
    font-size: 25px;
    padding:5px;
  }

.tail {
    width: 800px;
    position : fixed;
    bottom : 0;
    height:170px;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    opacity: 1;
}

#keyboardzone {
    position : fixed;
    bottom : 0;
    display: block;
    background: #bfbfbf;
    border-radius: 10px;
    cursor: pointer;
}

#keyboardzone * {
    transition: all 0ms;
}

#keyboardzone table th {
    border: 1px solid #2f2f2f3d;
    display: table-cell;
    vertical-align: middle;
    background-color: #eeeeeec4;
    transition: background-color 500ms;
    box-shadow: 0 0 7px 0px #00000033;
    border-radius: 5px;
}

#keyboardzone table th:active {
    background-color: #ffffff;
    transition: background-color 0ms;
}
